* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
}

.bg_small {
    height: 20vh;
    background-color: #009688;
}

.bg_big {
    height: 80vh;
    background-color: #D7DBD6;
}

.container {
    position: absolute;
    top: 5vh;
    left: 10%;
    width: 80%;
    height: 90vh;
    background-color: white;
    display: flex;
}

.left_section,
.right_section {
    height: 90vh;
}

.left_section {
    width: 40%;
}
.right_section {
    width: 60%;
    border-left: 1px solid lightgray;
}

h3 {
    font-size: 16px;
}




/* left section */

.left_header,
.right_header {
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}
.left_sub_header {
    height: 60px;
    background-color: #8EDAFC;
}
.left_search {
    height: 40px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contacts {
    height: calc(100% - 160px);
    overflow-y: scroll;
}
.contact {
    height: 70px;
    border-top: 1px solid lightgray;
}


/* right section */
.chat {
    height: calc(100% - 125px);
    background-image: url("../img/mine.jpg");
    background-size: 70%;
    overflow-y: scroll;
}
.chat_write {
    height: 65px;
    background-color: #F3EEEA;
}


/* header left and right properties */
.header_img img {
    height: 40px;
    border-radius: 50%;
}
.user_info,
.header_actions {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.right ul,
.left_sub_header ul {
list-style-type: none;
}
.right .contact_name,
.left_sub_header ul li:first-of-type {
    font-size: 12px;
    font-weight: bold;
}
.right .last_access,
.left_sub_header ul li:last-of-type {
    color: #B1B1B1;
    font-size: 10px;
    padding-top: 4px;
}
.header_actions ul li {
    display: inline-block;
    color: #B1B1B1;
}
.header_actions ul li,
.header_img img {
    padding: 0 8px;
}
.header_actions ul li:last-of-type {
    margin-right: 8px;
}

/* notification section */
.left_sub_header {
    display: flex;
    align-items: center;
}
.left_sub_header i {
    border-radius: 50%;
    color: #8EDAFC;
    border-radius: 50%;
    background-color: white;
    padding: 10px 8px;
    margin: 0 8px;
}
.left_sub_header ul li:last-of-type {
    color: #74929C;
    text-decoration: underline;
}

.searchbar {
    background-color: white;
    width: 98%;
    margin-top: 5px;
    margin: auto;
    display: flex;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #E5E7E9;
}

.searchbar button,
.searchbar input {
    margin: 0;
    padding: 0;
    color: #B1B1B1;
    border: none;
}
.searchbar button {
    width: 15%;
    background-color: white;
    border-right: 1px solid #E5E7E9;
}
.searchbar input {
    width: 85%;
    padding: 8px;
    font-size: 10px;
}

/* contact section */
.contacts {
    position: relative;
}
.contact img {
    height: 50px;
    border-radius: 50%;
    padding: 0 8px;
}
.contact {
    display: flex;
    align-items: center;
}
.contact ul {
    list-style-type: none;
}
.contact ul li:first-of-type {
    font-size: 14px;
    font-weight: bold;
}
.contact ul li:last-of-type,
.contact p {
    font-size: 10px;
    color: #B1B1B1;
}

.contact p {
    position: absolute;
    right: 4px;
    line-height: 1px;
}