* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
}

.bg_small {
    height: 20vh;
    background-color: #009688;
}

.bg_big {
    height: 80vh;
    background-color: #D7DBD6;
}

.container {
    position: absolute;
    top: 5vh;
    left: 10%;
    width: 80%;
    height: 90vh;
    background-color: white;
    display: flex;
}

.left_section,
.right_section {
    height: 90vh;
}

.left_section {
    width: 40%;
}
.right_section {
    width: 60%;
    border-left: 1px solid lightgray;
}

h3 {
    font-size: 16px;
}

i:hover{
    cursor: pointer;
    color: #8EDAFC;
}


/* left section */

.left_header,
.right_header {
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}
.left_sub_header {
    height: 60px;
    background-color: #8EDAFC;
}
.left_search {
    height: 40px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contacts {
    height: calc(100% - 160px);
    overflow-y: scroll;
}
.contact {
    height: 70px;
    border-top: 1px solid #FAFAFA;
}
.contact:hover {
    cursor: pointer;
    background-color: #F3EEEA;
}

.active {
    background-color: #E9EBEB;
}



/* right section */
.chat {
    height: calc(100% - 125px);
    background-image: url("../img/mine.jpg");
    background-size: 70%;
    overflow-y: scroll;
    padding: 40px;
}
.chat_write {
    height: 65px;
    background-color: #F3EEEA;
}


/* header left and right properties */
.header_img img {
    height: 40px;
    border-radius: 50%;
}
.user_info,
.header_actions {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.right ul,
.left_sub_header ul {
list-style-type: none;
}
.right .contact_name,
.left_sub_header ul li:first-of-type {
    font-size: 12px;
    font-weight: bold;
}
.last_access,
.left_sub_header ul li:last-of-type {
    color: #B1B1B1;
    font-size: 10px;
    padding-top: 4px;
}

.header_actions ul li {
    display: inline-block;
    color: #B1B1B1;
}
.header_actions ul li,
.header_img img {
    padding: 0 8px;
}
.header_actions ul li:last-of-type {
    margin-right: 8px;
}

/* notification section */
.left_sub_header {
    display: flex;
    align-items: center;
}
.left_sub_header i {
    border-radius: 50%;
    color: #8EDAFC;
    border-radius: 50%;
    background-color: white;
    padding: 10px 8px;
    margin: 0 8px;
}
.left_sub_header ul li:last-of-type {
    color: #74929C;
    text-decoration: underline;
}

.searchbar {
    background-color: white;
    width: 98%;
    margin-top: 5px;
    margin: auto;
    display: flex;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #E5E7E9;
}

.searchbar button,
.searchbar input {
    margin: 0;
    padding: 0;
    color: #B1B1B1;
    border: none;
}
.searchbar button {
    width: 15%;
    background-color: white;
    border-right: 1px solid #E5E7E9;
    cursor: pointer;
}
.searchbar button:hover {
    cursor: pointer;
    background-color: #F3EEEA;
    color:#8EDAFC;
}
.searchbar input {
    width: 85%;
    padding: 8px;
    font-size: 10px;
}

/* contact section */
.contacts {
    position: relative;
}
.contact img {
    height: 50px;
    border-radius: 50%;
    padding: 0 8px;
}
.contact {
    display: flex;
    align-items: center;
}
.contact ul {
    list-style-type: none;
}
.contact ul li:first-of-type {
    font-size: 14px;
    font-weight: bold;
}
.contact ul li:last-of-type {
    font-size: 10px;
    color: #B1B1B1;
}

.contact p {
    position: absolute;
    right: 4px;
    line-height: 1px;
}

/* chat section */

.chat_write {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    position: relative;
}
.write {
    width: 85%;
    margin: 0 16px;
}
.write input {
    width: 100%;
    padding: 10px 6px;
    border: none;
    border-radius: 6px;
}
.emoticons,
.audio {
    color: #6B7376;
    font-size: 20px;
}
.show_emoticon {
    position: absolute;
    top: -130px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 97%;
    height: 130px;
    display: flex;
    align-items: flex-start;
    overflow-y: scroll;
}
.hide_emoticon {
    display: none;
}
.show_emoticon ul {
    font-size: 30px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.show_emoticon ul li {
    padding: 8px;
}

.sent {
    background-color: #D5F9BA;
    float: right;
    clear: both;
}
.received {
    background-color: white;
    float: left;
    clear: both;
}

.message {
    height: 46px;
    width: 250px;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 6px;
    position: relative;
}
.message p {
    font-size: 12px;
    text-align: left;
}
.message p:last-of-type {
    color: #B1B1B1;
    font-size: 9px;
    text-align: right;
    position: absolute;
    bottom: 2px;
    right: 2px;
}
