<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <section class="main">
        <div class="background">
            <div class="bg_small"></div>
            <div class="bg_big"></div>
        </div>
        <div class="container" id="root">
            <div class="left_section">
                <!-- topbar sx -->
                <div class="left_header">
                    <div class="left user_info">
                        <div class="header_img">
                            <img src="img/avatar_io.jpg" alt="profile-pic">
                        </div>
                        <div class="left name">
                            <h3>Federica</h3>
                        </div>
                    </div>
                    <div class="left header_actions">
                        <ul>
                            <li><i class="fas fa-circle-notch"></i></li>
                            <li><i class="fas fa-comment-alt"></i></li>
                            <li><i class="fas fa-ellipsis-v"></i></li>
                        </ul>
                    </div>
                </div>
                <!-- /topbar sx -->
                <div class="left_sub_header">
                        <i class="fas fa-bell-slash"></i>
                    <ul>
                        <li>Ricevi notifiche di nuovi messaggi</li>
                        <li>Attiva notifiche desktop</li>
                    </ul>
                </div>
                <!-- pannello ricerca contatti -->
                <div class="left_search">
                    <div class="searchbar">
                        <button><i class="fas fa-search"></i></button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @keyup="filterItem(searchInput)">
                    </div>
                </div>
                <!-- /pannello ricerca contatti -->
                <!-- sezione contatti -->
                <div class="contacts">
                <div class="contact" v-for="(contact, index) in contacts"
                :class="(index == activeIndex)? 'active' : '' " @click="setActive(index)" v-show = "(contact.visible == true)">
                 <img :src="getImage(index)" alt="contact-pic">
                 <ul>
                     <li>{{contacts[index].name}}</li>
                     <li>{{getLastMessage(contact)}}</li>
                 </ul>
                 <p class="last_access">{{getLastAccess(contact)}}</p>                 
                </div>
                </div>
                <!-- /sezione contatti -->
            </div>
            <div class="right_section">
                <!-- topbar dx-->
                <div class="right_header">
                    <div class="right user_info">
                        <div class="header_img">
                            <img :src="getImage(activeIndex)" alt="avatar">
                        </div>
                        <ul>
                            <li class="right contact_name">{{contacts[activeIndex].name}}</li>
                            <li class="right last_access">Ultimo accesso oggi alle {{getLastAccess(contacts[activeIndex])}}</li>
                        </ul>
                    </div>
                    <div class="right header_actions">
                        <ul>
                            <li><i class="fas fa-search"></i></li>
                            <li><i class="fas fa-paperclip"></i></li>
                            <li><i class="fas fa-ellipsis-v"></i></li>
                        </ul>
                    </div>
                </div>
                <!-- /topbar dx -->
                <div class="chat">
                    <div class="message" v-for="message in contacts[activeIndex].messages" :class="message.status"> 
                    <p>{{message.text}}</p>
                    <p>{{message.date}}</p>
                    </div>
                </div>
                <div class="chat_write">
                    <div class="emoticons">
                        <i class="far fa-smile"></i>
                    </div>
                    <div class="write">
                        <input type="text" placeholder="Scrivi un messaggio" @keydown.enter="sendMessage(contacts[activeIndex])" v-model="newMessage">
                    </div>
                    <div class="audio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script src="js/script.js"></script>
</body>
</html>